#include </tmp/Theme>

!! Xdefaults
#define font1   Iosevka Nerd Font
!#define font2   Iosevka Nerd Font

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   false
Xft.lcdfilter:  lcddefault

Xcursor.theme: Oxygen White
Xcursor.size: 16
!Emacs.font: Iosevka Nerd Font-9
!Emacs.geometry: 90x42+50+60
!Emacs.internalBorder: 30

!! URxvt Appearance
URxvt.font:           xft:font1:style=Regular:size=12:antialias=true:hinting=true
URxvt.boldFont:       xft:font1:style=Bold:size=12:antialias=true:hinting=true
URxvt.italicFont:     xft:font1:style=Italic:size=12:antialias=true:hinting=true
URxvt.boldItalicfont: xft:font1:style=Bold Italic:size=12:antialias=true:hinting=true
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 82x24+420+120
URxvt.title:Urxvt
URxvt.internalBorder: 5
URxvt.cursorBlink: true
URxvt.scrollBar:false
URxvt.scrollBar_right:false
URxvt.scrollstyle:urxvt
URxvt.urgentOnBell: true
URxvt.depth: 32
URxvt.iso14755: false
URxvt.termName: xterm-256color

URxvt.perl-ext-common:  matcher,ibeamcursor,selection-to-clipboard,pasta,font-size
URxvt.urlLauncher:      /usr/bin/firefox
URxvt.matcher.button:   1

URxvt.keysym.Control-Shift-V:     perl:pasta:paste
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

!dwm.normbgcolor:       base00
!dwm.normfgcolor:       base07
!dwm.normbordercolor:   base08

!dwm.selbgcolor:        base00
!dwm.selfgcolor:	       base0F
!dwm.selbordercolor:    base00	

! ! special
! *.foreground: #93a1a1
! *.background: #141c21
! *.cursorColor: #afbfbf

! ! black
! *.color0: #263640
! *.color8: #4a697d

! ! red
! *.color1: #d12f2c
! *.color9: #fa3935

! ! green
! *.color2: #819400
! *.color10: #a4bd00

! ! yellow
! *.color3: #b08500
! *.color11: #d9a400

! ! blue
! *.color4: #2587cc
! *.color12: #2ca2f5

! ! magenta
! *.color5: #696ebf
! *.color13: #8086e8

! ! cyan
! *.color6: #289c93
! *.color14: #33c5ba

! ! white
! *.color7: #bfbaac
! *.color15: #fdf6e3
