@import "./rose-pine-dawn.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

 #waybar {
     background: transparent;
     border: 0px;
     margin: 0px 0px 0px 0px;
}
 
 #waybar > box {
     border-radius: 0px;
     margin: 0px 0px 8px 0px;
     /* background-color: rgba(18, 21, 29, 0.98);*/
     background-color: @base;
     box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.7);
     /* box-shadow: 1 1 1 8px #151515; */
     transition-property: background-color;
     transition-duration: .5s;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* window#waybar.termite { */
/*     background-color: #3F3F3F; */
/* } */

/* window#waybar.chromium { */
/*     background-color: #000000; */
/*     border: none; */
/* } */

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 0.5em;
    background-color: @overlay0;
    color: @foam;
    margin: 0.25em;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: @pine;
    color: @overlay;
    border-radius: 8px;
    border: 0px solid @love;
}

#workspaces button.focused {
    background-color: @overlay;
    color: @foam;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: @love;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#image {
    background-color: @base;
    border-radius: 8px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 7px;
    border: 0px solid @overlay;
}

#window {
    background-color: @base;
    color: @gold;
    border: 0px;
    border-radius: 8px;
    margin-top: 7px;
    margin-bottom: 7px;    
    padding-left: 3px;
    padding-right: 3px;
}

#workspaces {
    border-radius: 8px;
    background-color: @overlay;
    padding: 3px 3px 3px 3px;
    margin-top: 7px;
    margin-bottom: 7px;
    border: 1px solid @overlay;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @overlay;
    color: @rose;
    border: 1px solid @overlay;
    border-radius: 8px;   
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 8px;
    padding: 3px 3px 3px 3px;
}

#battery {
    background-color: @overlay;
    color: @love;
    border: 1px solid @overlay;
    border-radius: 8px;   
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 3px 3px 3px 3px;
}

#battery.charging, #battery.plugged {
    background-color: @overlay;
    color: @love;
    border: 1px solid @overlay;
    border-radius: 8px;   
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 3px 3px 3px 3px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @overlay;
    color: @iris;
    border: 1px solid @overlay;
    border-radius: 8px;   
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 3px 3px 3px 3px;
}

#memory {
    background-color: @overlay;
    color: @foam;
    border: 1px solid @overlay;
    border-radius: 8px;   
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 3px 3px 3px 3px;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: @overlay;
    color: @gold;
    border: 1px solid @overlay;
    border-radius: 8px;   
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 3px 3px 3px 3px;
}

#network {
    background-color: @overlay;
    color: @foam;
    border: 1px solid @overlay;
    border-radius: 8px;   
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 3px 3px 3px 3px;
}

#network.disconnected {
    background-color: @overlay;
    color: @muted;
}

#pulseaudio {
    background-color: @overlay;
    color: @pine;
    border: 1px solid @overlay;
    border-radius: 8px;   
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 3px 3px 3px 3px;
}

#pulseaudio.muted {
    background-color: @overlay;
    color: @muted;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: @overlay;
    color: @gold;
    border: 1px solid @overlay;
    border-radius: 8px;   
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 3px 3px 3px 3px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: @base;
    border: 1px solid @base;
    border-radius: 8px;   
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 5px;
    padding: 3px 3px 3px 3px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
